.u-block-c8bf-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-c8bf-3 {
  position: absolute;
  left: 0;
}

.u-block-c8bf-4 {
  position: absolute;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1440px;
}

.u-section-1-1 .u-custom-html-1 {
  height: auto;
  min-height: 323px;
  width: 558px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 66px auto 0;
}

.u-section-1-1 .u-image-1 {
  width: 202px;
  height: 202px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 66px auto 0;
}

.u-section-1-1 .u-custom-html-2 {
  height: auto;
  min-height: 323px;
  width: 564px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 129px auto 0;
}

.u-section-1-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 100vh;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-1-1 .u-custom-html-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-custom-html-1 {
    margin-top: 63px;
    width: 340px;
  }

  .u-section-1-1 .u-image-1 {
    margin-top: 69px;
  }

  .u-section-1-1 .u-custom-html-2 {
    width: 340px;
  }
}

 .u-section-1-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/ESWAT-CityUnderSiege.jpg");
  background-size: cover;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1440px;
}

.u-section-1-2 .u-image-1 {
  --radius: 50px;
  width: 350px;
  height: 300px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 308px auto 0;
}

.u-section-1-2 .u-image-2 {
  width: 745px;
  height: 510px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto 60px 185px;
}

@media (max-width: 1199px) {
   .u-section-1-2 {
    background-position: 99.48% 50%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-2 .u-image-1 {
    margin-top: 180px;
  }

  .u-section-1-2 .u-image-2 {
    margin-top: 36px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    margin-top: 195px;
  }

  .u-section-1-2 .u-image-2 {
    width: 720px;
    height: 493px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
   .u-section-1-2 {
    background-position: 83.32% 50%;
  }

  .u-section-1-2 .u-image-1 {
    margin-top: 224px;
  }

  .u-section-1-2 .u-image-2 {
    width: 540px;
    height: 370px;
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
   .u-section-1-2 {
    background-position: 81.99% 50%;
  }

  .u-section-1-2 .u-image-1 {
    height: 291px;
    margin-top: 215px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-2 .u-image-2 {
    width: 340px;
    height: 233px;
    margin-top: 59px;
  }
}

.u-section-1-1 .u-custom-html-1,
.u-section-1-1 .u-custom-html-1:before,
.u-section-1-1 .u-custom-html-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-custom-html-1.u-custom-html-1.u-custom-html-1:hover {
  transform: scale(1.1) !important;
}

.u-section-1-1 .u-custom-html-1.u-custom-html-1.u-custom-html-1.hover {
  transform: scale(1.1) !important;
}

.u-section-1-1 .u-image-1,
.u-section-1-1 .u-image-1:before,
.u-section-1-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) !important;
}

.u-section-1-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) !important;
}

.u-section-1-1 .u-custom-html-2,
.u-section-1-1 .u-custom-html-2:before,
.u-section-1-1 .u-custom-html-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-custom-html-2.u-custom-html-2.u-custom-html-2:hover {
  transform: scale(1.1) !important;
  border-radius: 50px !important;
}

.u-section-1-1 .u-custom-html-2.u-custom-html-2.u-custom-html-2.hover {
  transform: scale(1.1) !important;
  border-radius: 50px !important;
}

.u-section-1-2 .u-image-1,
.u-section-1-2 .u-image-1:before,
.u-section-1-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) !important;
}

.u-section-1-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) !important;
}

.u-section-1-2 .u-image-2,
.u-section-1-2 .u-image-2:before,
.u-section-1-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) !important;
}

.u-section-1-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) !important;
}