 .u-section-1 {
  background-image: url("images/RistyLakeParadise.jpg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  width: 424px;
  height: auto;
  min-height: 247px;
  margin-top: 36px;
  margin-left: calc(((100% - 1140px) / 2) + -99px);
}

.u-section-1 .u-custom-html-2 {
  width: 429px;
  height: auto;
  min-height: 247px;
  margin-left: calc(((100% - 1140px) / 2) + 790px);
  margin-top: -143px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 238px;
  height: 133px;
  margin: 30px calc(((100% - 1140px) / 2) + -50px) 0 auto;
}

.u-section-1 .u-custom-html-3 {
  margin-left: calc(((100% - 1140px) / 2) + 937px);
  margin-top: 26px;
  margin-bottom: 0;
  width: 308px;
  height: auto;
  min-height: 39px;
}

.u-section-1 .u-custom-html-4 {
  margin-left: calc(((100% - 1140px) / 2) + 937px);
  width: 308px;
  height: auto;
  min-height: 39px;
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-5 {
  margin-left: calc(((100% - 1140px) / 2) + 937px);
  width: 308px;
  height: auto;
  min-height: 39px;
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-6 {
  margin-left: calc(((100% - 1140px) / 2) + 937px);
  width: 308px;
  height: auto;
  min-height: 39px;
  margin-top: 10px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 940px) / 2) + -99px);
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 940px) / 2) + 511px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + -50px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: calc(((100% - 940px) / 2) + 632px);
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 940px) / 2) + 632px);
  }

  .u-section-1 .u-custom-html-5 {
    margin-left: calc(((100% - 940px) / 2) + 632px);
  }

  .u-section-1 .u-custom-html-6 {
    margin-left: calc(((100% - 940px) / 2) + 632px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 720px) / 2) + -99px);
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 720px) / 2) + 291px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + -50px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: calc(((100% - 720px) / 2) + 412px);
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 720px) / 2) + 412px);
  }

  .u-section-1 .u-custom-html-5 {
    margin-left: calc(((100% - 720px) / 2) + 412px);
  }

  .u-section-1 .u-custom-html-6 {
    margin-left: calc(((100% - 720px) / 2) + 412px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2) + -99px);
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 540px) / 2) + 111px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + -50px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: calc(((100% - 540px) / 2) + 232px);
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 540px) / 2) + 232px);
  }

  .u-section-1 .u-custom-html-5 {
    margin-left: calc(((100% - 540px) / 2) + 232px);
  }

  .u-section-1 .u-custom-html-6 {
    margin-left: calc(((100% - 540px) / 2) + 232px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 340px) / 2) + -99px);
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + -50px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-1 .u-custom-html-5 {
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-1 .u-custom-html-6 {
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }
} .u-section-2 {
  background-image: url("images/rusty.jpg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-2 .u-image-1 {
  width: 180px;
  height: 177px;
  margin: 145px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-custom-html-1 {
  width: 429px;
  height: auto;
  min-height: 247px;
  margin-left: calc(((100% - 1140px) / 2) + -99px);
  margin-top: -13px;
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-2 {
  margin-left: calc(((100% - 1140px) / 2) + 902px);
  width: 308px;
  height: auto;
  min-height: 39px;
  margin-top: -219px;
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-3 {
  width: 308px;
  height: auto;
  min-height: 39px;
  margin: 0 calc(((100% - 1140px) / 2) + -70px) 60px calc(((100% - 1140px) / 2) + 902px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: calc(((100% - 940px) / 2) + -99px);
  }

  .u-section-2 .u-custom-html-2 {
    margin-left: calc(((100% - 940px) / 2) + 632px);
  }

  .u-section-2 .u-custom-html-3 {
    margin-right: calc(((100% - 940px) / 2) + -70px);
    margin-left: calc(((100% - 940px) / 2) + 632px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: calc(((100% - 720px) / 2) + -99px);
  }

  .u-section-2 .u-custom-html-2 {
    margin-left: calc(((100% - 720px) / 2) + 412px);
  }

  .u-section-2 .u-custom-html-3 {
    margin-right: calc(((100% - 720px) / 2) + -70px);
    margin-left: calc(((100% - 720px) / 2) + 412px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2) + -99px);
  }

  .u-section-2 .u-custom-html-2 {
    margin-left: calc(((100% - 540px) / 2) + 232px);
  }

  .u-section-2 .u-custom-html-3 {
    margin-right: calc(((100% - 540px) / 2) + -70px);
    margin-left: calc(((100% - 540px) / 2) + 232px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: calc(((100% - 340px) / 2) + -99px);
  }

  .u-section-2 .u-custom-html-2 {
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-2 .u-custom-html-3 {
    margin-right: calc(((100% - 340px) / 2) + -70px);
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }
}